.navCard {
  width: 240px;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
  /* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%); */
}
.navCardDes {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
